<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Random - Invalid Number</title>
      <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
      <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
      <div class="container">
        <p class="title" style="color: red;">Invalid Number Provided!</p>
        <p>Please provide a positive integer (e.g., /100).</p>
      </div>
    </body>
</html>
